@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply text-sm font-sans text-black;
    }
    h1 {
      @apply text-3xl font-bold text-black;
    }
    h2 {
      @apply text-2xl font-semibold text-black;
    }
    h3 {
      @apply text-xl font-semibold text-black;
    }
    h4 {
      @apply text-lg font-semibold text-black;
    }
    h5 {
      @apply text-sm font-semibold text-black;
    }
    h6 {
      @apply text-sm font-semibold text-black;
    }
    p {
      @apply text-sm text-black my-3;
    }
    a {
      @apply text-blue-500 hover:text-blue-700;
    }
    hr {
      border-top: 2px solid #333;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    table {
      @apply w-full border border-collapse text-sm break-words;
    }
    th {
      @apply bg-gray-200 p-2 text-left font-semibold text-sm break-words;
    }
    td {
      @apply border-2 border-black p-2 text-sm break-words;
    }
    tr{
      @apply break-words text-sm;
    }
    tr:hover {
      @apply bg-gray-100 text-sm;
    }
    blockquote {
      @apply border-s-4 font-medium ps-4 my-4 italic text-gray-600;
    }
    blockquote footer {
      @apply mt-2 text-right text-gray-500;
    }
    ul {
      @apply list-disc ps-4;
    }
    ol {
      @apply list-decimal ps-4;
    }
    li {
      @apply text-sm;
      @apply my-2;
    }
    .media {
      @apply w-full aspect-video mb-2
    }
    .media iframe {
      @apply w-full aspect-video mb-2
    }
  }
  
  .ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 500px;
    overflow-y: auto;
  }


.loader {
  width: 100px;
  padding: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fad74f;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}