@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply text-base font-sans text-black;
    }
    h1 {
      @apply text-3xl font-bold text-black;
    }
    h2 {
      @apply text-2xl font-semibold text-black;
    }
    h3 {
      @apply text-xl font-semibold text-black;
    }
    h4 {
      @apply text-lg font-semibold text-black;
    }
    h5 {
      @apply text-base font-semibold text-black;
    }
    h6 {
      @apply text-base font-semibold text-black;
    }
    p {
      @apply text-lg text-black;
    }
    a {
      @apply text-blue-500 hover:text-blue-700;
    }
    hr {
      border-top: 2px solid #333;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    table {
      @apply w-full border border-collapse;
    }
    th {
      @apply bg-gray-200 p-2 text-left font-semibold;
    }
    td {
      @apply border-2 border-black p-2;
    }
    tr:hover {
      @apply bg-gray-100;
    }
    blockquote {
      @apply border-s-4 font-medium ps-4 my-4 italic text-gray-600;
    }
    blockquote footer {
      @apply mt-2 text-right text-gray-500;
    }
    ul {
      @apply list-disc ps-4;
    }
    ol {
      @apply list-decimal ps-4;
    }
    li {
      @apply text-base;
      @apply my-2;
    }
    .media {
      @apply w-full aspect-video md:aspect-square
    }
    .media iframe {
      @apply w-full aspect-video md:aspect-square
    }
  }
  
  .ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 500px;
    overflow-y: auto;
  }
